.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
li {
  display: block;
  clear: both;
  flex-direction: column-reverse;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  width: 150px;
  padding: 0 5%;
  margin-top: 3px;
}

.chat-left,
.chat-right {
  line-height: 100%;
  display: block;
  position: relative;
  padding: 0.25em 0.5em;
  border: black solid 3px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  margin-bottom: 1em;
  clear: both;
  max-width: 50%;
}
.chat-right {
  margin-left: auto;
  float: right;
  background: lightblue;
}

.chat-left {
  float: left;
  text-align: left;
  background: lightgreen;
  margin-right: 10%;
  width: fit-content;
}
button.chatSubmit {
  background-color: grey; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 140px;
  height: 80px;
  margin-left: 20px;
}

.user,
.chat-user-left {
  font-style: italic;
  font-size: 10px;
  float: left;
  max-width: 20%;
  padding-bottom: 2px;
  display: flex;
  text-align: left;
}
.date,
.chat-user-right {
  font-style: italic;
  font-size: 10px;
  float: right;
  max-width: 20%;
  display: flex;
  padding-bottom: 2px;
}
